#alert {
    margin-top: 20px;
}

#card-deck {
    padding-top: 20px;
}

#employee-card {
    /* max-width:25%; */
    min-width: 250px;
    margin-top: 20px;
}

#plus {
    color: green;  
    position: absolute; 
}

#plus-col {
    margin-left: 1px;
}

#select-row {
    padding-top: 10px;
    padding-bottom: 10px;
    background: url("../images/wall4.png");
}

#date-pick {
    text-align: center;
    padding-top: 10px;
}

#team-select {
    padding-top: 10px;
}

.columns {
    padding-left: 50px;
    padding-right: 50px;
}
