h6 {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid lightgray;
    min-height: 30px;
}

#alert {
    margin-top: 20px;
}

#card-deck {
    padding-top: 20px;
}

#card-name {
    color: #70a1ff;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid #70a1ff;
}

#doing-val {
    text-align: left;
    padding-left: 3px;
}

#done-val {
    text-align: left;
    padding-left: 3px;
}

#block-val {
    text-align: left;
    padding-left: 3px;
}

#employee-card {
    /* max-width:25%; */
    min-width: 250px;
    max-width: 340px;
    margin-top: 20px;
    background: url("../images/wall4.png");
}

#plus {
    color: green;  
    position: absolute; 
}

#plus-col {
    margin-left: 1px;
}

#select-row {
    padding-top: 10px;
    padding-bottom: 10px;
    background: url("../images/wall4.png");
}

#date-pick {
    text-align: center;
    padding-top: 10px;
}

#team-select {
    padding-top: 10px;
}

.card-form {
    text-align: left;
}

.columns {
    padding-left: 50px;
    padding-right: 50px;
}

.card-label {
    font-weight: bold;
    text-align: left;
}
