#button-row {
    margin-top: 40px;
}

#chart-row {
    margin-top: 20px;
}

#start-date {
    padding-top: 10px;
}

#end-date {
    padding-top: 10px;
}

#start-label {
    text-align: right;
    padding-top: 10px;
}

#end-label {
    text-align: right;
    padding-top: 10px;
}

#exit-button {
    text-align: center;
}

#submit-button {
    text-align: right;
}

#team-select {
    padding-top: 10px;
}